{% extends 'service/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">Почта: {{ object.email }}</div>
                    <div class="card-body">
                        ФИО: {{ object.full_name }}

                    </div>
                    <div class="card-footer">
                        Комментарий: {{ object.comment }}
                    </div>
                    <div class="">
                    <div class="btn-group">
                        <a href="{% url 'service:edit_client' object.pk %}"
                           class="btn btn-sm btn-outline-secondary">Изменить</a>
                        <a href="{% url 'service:delete_client' object.pk %}"
                           class="btn btn-sm btn-outline-danger">Удалить</a>
                    </div>
                </div>


                </div>
            </div>
        </div>
{% endblock %}