{% extends 'service/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">Тема: {{ object.title }}</div>
                    <div class="card-body">
                        Начало: {{ object.commence_time }}

                    </div>
                    <div class="card-footer">
                        Статус: {{ object.status }}
                    </div>
                    <div class="card-footer">
                        Переодичность: {{ object.frequency }}
                    </div>
                    <div class="card-footer">
                        Автор: {{ object.owner }}
                    </div>

                    <div class="">
                    <div class="btn-group">
                        <a href="{% url 'service:edit_mailing' object.pk %}"
                           class="btn btn-sm btn-outline-secondary">Изменить</a>
                        <a href="{% url 'service:delete_mailing' object.pk %}"
                           class="btn btn-sm btn-outline-danger">Удалить</a>
                    </div>
                </div>


                </div>
            </div>
        </div>
<div class="col-12 mb-5"  style="margin: 10px">
        <a class="btn btn-danger" href="">Разослать сообщение</a>
</div>
{% endblock %}