{% extends 'service/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">Тема: {{ object.title }}</div>
                    <div class="card-body">
                        Тело сообщения:{{ object.body }}
                    </div>
                    <div class="card-footer">
                        Статус: {{ object.status }}
                    </div>
                    <div class="card-footer">
                        Переодичность: {{ object.frequency }}
                    </div>
                    <div class="card-footer">
                        Автор: {{ object.owner }}
                    </div>

                    <div class="">
                    <div class="btn-group">
                        {% if perms.mailsender.change_mailing_status %}
                    <a href="{% url 'service:manager_mailing_update' object.id %}"
                       class="btn btn-sm btn-outline-secondary">Редактировать статус рассылки</a>
                    {% endif %}
                        {% if user.is_authenticated and object.owner == user%}
                        <a href="{% url 'service:edit_mailing' object.pk %}"
                           class="btn btn-sm btn-outline-secondary">Изменить</a>
                        <a href="{% url 'service:delete_mailing' object.pk %}"
                           class="btn btn-sm btn-outline-danger">Удалить</a>
                          {% endif %}
                    </div>
                </div>


                </div>
            </div>
        </div>
{% endblock %}