{% extends 'service/base.html' %}
{% block content %}
<div class="col-12">
    <div class="row">
        <figure class="figure">
            </figure>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title>">
                        Блог
                    </h3>
                </div>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <td>Название</td>
                            <td>{{ blog.title }}</td>
                        </tr>
                        <tr>
                            <td>Текст</td>
                            <td>{{ blog.description }}</td>
                        </tr>
                    </table>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
