{% extends 'service/base.html' %}
{% block content %}

<div class="row">
    <div class="row">
    <div class="col-3">
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-header"></div>
            <div class="card-body">
                <figure class="figure">
            </figure>
                {% if user.status == 'blocked' %}
                <p class="card-text">ВЫ ЗАБЛОКИРОВАНЫ
                {% else%}

                {% if object.email_confirmed%}
                    <form method="post">
                    {%  csrf_token %}
                    {{ form.as_p}}
                <p><button type="submit" class="btn btn-success">Сохранить</button></p>
                </form>
                {% else %}
                        <p class="card-text">Почта: {{ object.email }}
                        <a href="{% url 'users:confirm' %}" class="btn btn-sm btn-danger">Подтвердить почту</a>
                        <h3>
                       </h3>
                      {% endif %}<br>
                {% endif %}


            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}